.container {
  font-size: 14px;
  clear: both;
  padding-top: 5px;
}
.container > div:first-child {
  margin-top: 10px;
}

.container.mychat {
  float: right;
}
.container.mychat > div:first-child {
  display: none;
}
.container.mychat > div:nth-child(2) {
  color: white;
  background-color: #5db075;
}

.container > div:nth-child(2) {
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  margin-top: 5px;
  max-width: 70%;
  float: left;
}
